<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>XML Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869f4">  <td>18/07/12 19:19:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@6e38921c]">testRetry</td> 
  <td>main@758013696</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>18/07/12 19:19:06</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@6e38921c]">testRetry</td> 
  <td>main@758013696</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>18/07/12 19:19:06</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@6e38921c]">testRetry</td> 
  <td>main@758013696</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>18/07/12 19:19:06</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@6e38921c]">testRetry</td> 
  <td>main@758013696</td>   <td></td> </tr>
</table>
