<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rerunning failed test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b264a1">  <td>18/07/12 19:18:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@1ddf84b8]">testRetry</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/12 19:18:13</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@1ddf84b8]">testRetry</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/12 19:18:13</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@1ddf84b8]">testRetry</td> 
  <td>main@369049246</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/12 19:18:13</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryDemo.testRetry()[pri:0, instance:testNGDemo.RetryDemo@1ddf84b8]">testRetry</td> 
  <td>main@369049246</td>   <td></td> </tr>
</table>
