<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>First Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterClass()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>326</td> <td title="&lt;&lt;FirstTestNG.afterSuite()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterTest()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeClass()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-70</td> <td title="&gt;&gt;FirstTestNG.beforeSuite()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-53</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeTest()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.firstTest()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">firstTest</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="868a7f">  <td>18/07/11 17:17:59</td>   <td>195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroupsDemo.groupTest()[pri:0, instance:testNGDemo.TestNGGroupsDemo@7334aada]">groupTest</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.secondTest()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">secondTest</td> 
  <td>main@854587510</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/07/11 17:17:59</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.thirdTest()[pri:0, instance:testNGDemo.FirstTestNG@130161f7]">thirdTest</td> 
  <td>main@854587510</td>   <td></td> </tr>
</table>
