<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Listeners Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>0</td> <td title="&gt;&gt;TestListenerDemo.beforeSuite()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>18</td> <td>&nbsp;</td><td title="&gt;&gt;TestListenerDemo.beforeTest()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestListenerDemo.beforeClass()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestListenerDemo.beforeMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestListenerDemo.firstTest()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">firstTest</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestListenerDemo.afterMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestListenerDemo.beforeMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestListenerDemo.secondTest()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">secondTest</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestListenerDemo.afterMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestListenerDemo.beforeMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestListenerDemo.thirdTest()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">thirdTest</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestListenerDemo.afterMethod()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestListenerDemo.afterClass()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>62</td> <td>&nbsp;</td><td title="&lt;&lt;TestListenerDemo.afterTest()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>18/07/13 15:04:53</td>   <td>233</td> <td title="&lt;&lt;TestListenerDemo.afterSuite()[pri:0, instance:testNGListeners.TestListenerDemo@619713e5]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
</table>
