<h2>Reporter output</h2><table><tr><td>About to begin suite execution: Listeners Demo</td></tr>
<tr><td>About to begin test execution: Listeners Test</td></tr>
<tr><td>Test started: null</td></tr>
<tr><td>Test completed successfully: null</td></tr>
<tr><td>Test started: null</td></tr>
<tr><td>Test completed successfully: null</td></tr>
<tr><td>Test started: null</td></tr>
<tr><td>Test completed successfully: null</td></tr>
</table>