<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testNGDemo.FirstTestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>secondTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>thirdTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>testNGDemo.WebTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultipleTimes</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testNGDemo.ParametersDemo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testDataProvider</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doParameterization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testNGDemo.GroupsDemo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>includedGroupTestNew</td>
<td>funTestNew </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>includedGroupTest</td>
<td>funTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>excludeGroupTestNew</td>
<td>failedTestNew </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>excludeGroupTest</td>
<td>failedTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testNGDemo.DependencyDemo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testOne</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSoftDependency</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>secondTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>thirdTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testTwo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>firstTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
