<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>failedTest</td><td>GroupsDemo.excludeGroupTest()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]<br/></td></tr>
<tr><td>failedTestNew</td><td>GroupsDemo.excludeGroupTestNew()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]<br/></td></tr>
<tr><td>funTest</td><td>GroupsDemo.includedGroupTest()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]<br/></td></tr>
<tr><td>funTestNew</td><td>GroupsDemo.includedGroupTestNew()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]<br/></td></tr>
</table>
