<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterClass()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:19</td>   <td>202</td> <td title="&lt;&lt;FirstTestNG.afterSuite()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>42</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterTest()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeClass()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeMethod()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-82</td> <td title="&gt;&gt;FirstTestNG.beforeSuite()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-68</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeTest()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440938038</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>18/07/12 18:39:18</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParametersDemo.doParameterization(java.lang.String, java.lang.String)[pri:0, instance:testNGDemo.ParametersDemo@4cc451f2]">doParameterization</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>18/07/12 18:39:18</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupsDemo.excludeGroupTest()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]">excludeGroupTest</td> 
  <td>TestNG-test=Package Test-3@398998746</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>18/07/12 18:39:18</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupsDemo.excludeGroupTestNew()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]">excludeGroupTestNew</td> 
  <td>TestNG-test=Package Test-3@398998746</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.firstTest()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">firstTest</td> 
  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.firstTest()[pri:0, instance:testNGDemo.DependencyDemo@7b9a4292]">firstTest</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>18/07/12 18:39:18</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupsDemo.includedGroupTest()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]">includedGroupTest</td> 
  <td>TestNG-test=Package Test-3@398998746</td>   <td></td> </tr>
<tr bgcolor="c562f7">  <td>18/07/12 18:39:18</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GroupsDemo.includedGroupTestNew()[pri:0, instance:testNGDemo.GroupsDemo@4a94ee4]">includedGroupTestNew</td> 
  <td>TestNG-test=Package Test-3@398998746</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.secondTest()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">secondTest</td> 
  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.secondTest()[pri:0, instance:testNGDemo.DependencyDemo@7b9a4292]">secondTest</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>18/07/12 18:39:18</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParametersDemo.testDataProvider(java.lang.String, int)[pri:0, instance:testNGDemo.ParametersDemo@4cc451f2]">testDataProvider</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>18/07/12 18:39:18</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParametersDemo.testDataProvider(java.lang.String, int)[pri:0, instance:testNGDemo.ParametersDemo@4cc451f2]">testDataProvider</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@1fa268de]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@359f7cdf]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@3e58a80e]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@4466af20]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@4f18837a]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@4f6ee6e4]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@4fb0f2b9]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@4fb61f4a]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@6b927fb]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="9d6b9d">  <td>18/07/12 18:39:18</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.testMultipleTimes()[pri:0, instance:testNGDemo.WebTest@a514af7]">testMultipleTimes</td> 
  <td>TestNG-test=Package Test-5@111064723</td>   <td>1327006586 899644639 530737374 1332668132 1147580192 173099767 112797691 1045997582 1337335626 1336996537 </td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.testOne()[pri:1, instance:testNGDemo.DependencyDemo@7b9a4292]">testOne</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.testSoftDependency()[pri:0, instance:testNGDemo.DependencyDemo@7b9a4292]">testSoftDependency</td> 
  <td>TestNG-test=Package Test-1@846348654</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.testTwo()[pri:2, instance:testNGDemo.DependencyDemo@7b9a4292]">testTwo</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
<tr bgcolor="a6ba85">  <td>18/07/12 18:39:18</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNG.thirdTest()[pri:0, instance:testNGDemo.FirstTestNG@79924b]">thirdTest</td> 
  <td>TestNG-test=Package Test-2@1476816315</td>   <td></td> </tr>
<tr bgcolor="f56bcc">  <td>18/07/12 18:39:18</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyDemo.thirdTest()[pri:4, instance:testNGDemo.DependencyDemo@7b9a4292]">thirdTest</td> 
  <td>TestNG-test=Package Test-4@1724251784</td>   <td></td> </tr>
</table>
