<h2>Methods that were not run</h2><table>
<tr><td>testNGDemo.IgnoreTest.thirdTest</td></tr>
<tr><td>testNGDemo.IgnoreTest.testThree</td></tr>
<tr><td>testNGDemo.IgnoreTest.testOne</td></tr>
<tr><td>testNGDemo.DependencyDemo.testThree</td></tr>
<tr><td>testNGDemo.IgnoreTest.testServer</td></tr>
<tr><td>testNGDemo.IgnoreTest.testTwo</td></tr>
</table>