<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ba8c8">  <td>18/07/12 18:07:59</td>   <td>0</td> <td title="&lt;&lt;FirstTestNG.afterSuite()[pri:0, instance:testNGDemo.FirstTestNG@4fb0f2b9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1470344997</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>18/07/12 18:07:59</td>   <td>-163</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTestNG.afterTest()[pri:0, instance:testNGDemo.FirstTestNG@4fb0f2b9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1470344997</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>18/07/12 18:07:59</td>   <td>-207</td> <td title="&gt;&gt;FirstTestNG.beforeSuite()[pri:0, instance:testNGDemo.FirstTestNG@4fb0f2b9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1470344997</td>   <td></td> </tr>
<tr bgcolor="8ba8c8">  <td>18/07/12 18:07:59</td>   <td>-174</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTestNG.beforeTest()[pri:0, instance:testNGDemo.FirstTestNG@4fb0f2b9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1470344997</td>   <td></td> </tr>
</table>
